<ul class="nav nav-pills flex-column mb-4">
    <li>
        <button class="btn btn-toggle align-items-center text-white rounded collapsed" data-bs-toggle="collapse"
            data-bs-target="#home-collapse" aria-expanded="false">
            Home
        </button>
        <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                <li><a href="#" class="link-dark rounded">Overview</a></li>
                <li><a href="#" class="link-dark rounded">Updates</a></li>
                <li><a href="#" class="link-dark rounded">Reports</a></li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-toggle align-items-center text-white rounded collapsed" data-bs-toggle="collapse"
            href="#collapseAll" role="button" aria-expanded="false" aria-controls="collapseAll">
            All
        </a>
        <div class="collapse" id="collapseAll">
            <ul>
                <li class="nav-item"><a class="nav-link active" href="all">All</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Outdoor</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="#">Skies</a>
                </li>
            </ul>
        </div>
    </li>
    <li>
        <a class="btn btn-toggle align-items-center text-white rounded collapsed" data-bs-toggle="collapse"
            href="#collapseOutdoor" role="button" aria-expanded="false" aria-controls="collapseOutdoor">
            Props
        </a>
        <div class="collapse" id="collapseOutdoor">
            <ul>
                <li class="nav-item"><a class="nav-link active" href="#">All</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Outdoor</a></li>
                <li class="nav-item"><a class="nav-link active" href="#">Skies</a></li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <a class="btn btn-toggle align-items-center text-white rounded collapsed" href="#">Furniture</a>
    </li>
</ul>