<div class="d-inline-flex bg-dark text-white">
    <div class="col-6 p-5 text-center">
        <div class='text-center my-5'>
            <h1>About Us</h1>
        </div>
        <p>
            Poly Haven is a small company based in South Africa, working 
            with artists around the world.
        </p>
        <p>
            Our goal is to create a constantly growing community-funded 
            resource of open content, for complete freedom and usability by 
            professionals and hobbyists alike.
        </p>
        <p>
            Previously we ran HDRI Haven, Texture Haven and 3D Model Haven 
            as separate independent projects, 
            but ultimately decided we could serve the community better 
            by joining forces and creating a single new platform: Poly Haven.
        </p>
        <p>
            If you like what we do and want to keep this site alive, 
            consider <a href="#">supporting us on Patreon</a>
        </p>
    </div>
    <div class="col-6 text-wrap py-5 px-4">
    </div>
</div>