<div class='container-fluid bg-dark'>
    <div class='d-inline-flex flex-wrap justify-content-center pt-5'>
        <div class='d-inline-flex HDRI-lib-ref'>
            <img src='assets/Polyhaven_logo.png' class='mx-auto' alt='' width="300" height="300">
            <ul class="list-group text-light text-wrap">
                <li>
                    <h1><b>HDRIs</b></h1>
                </li>
                <li>
                    <p>16k+ resolution, and always unclipped for one click realistic lighting</p>
                </li>
                <li>
                    <button class="btn btn-info">Browse HDRIs</button>
                </li>
            </ul>
        </div>
        <div class='d-inline-flex Texture-lib-ref'>
            <img src='assets/Polyhaven_logo.png' class='mx-auto' alt='' width="300" height="300">
            <ul class="list-group text-light text-wrap">
                <li>
                    <h1><b>Textures</b></h1>
                </li>
                <li>
                    <p>16k+ resolution, and always unclipped for one click realistic lighting</p>
                </li>
                <li>
                    <button class="btn btn-info">Browse HDRIs</button>
                </li>
            </ul>
            
        </div>
        <div class='d-inline-flex Model-lib-ref'>
            <img src='assets/Polyhaven_logo.png' class='mx-auto' alt='' width="300" height="300">
            <ul class="list-group text-light text-wrap">
                <li>
                    <h1><b>Models</b></h1>
                </li>
                <li>
                    <p>16k+ resolution, and always unclipped for one click realistic lighting</p>
                </li>
                <li>
                    <button class="btn btn-info">Browse HDRIs</button>
                </li>
            </ul>
            
        </div>
    </div>
</div>