<div class="container pt-5">
    <div class="row">
        <form #postForm="ngForm" (ngSubmit)="addLibrary(postForm.value)">
            <div class="col-3">
                <div><span>img</span><input type="text" ngModel name="img"></div>
                <div><span>name</span><input type="text" ngModel name="name"></div>
                <div><span>time</span><input type="text" ngModel name="time"></div>
                <div><button type="submit">submit</button></div>
            </div>
        </form>
    </div>
</div>
