<app-topnavbar>loading...</app-topnavbar>
<div class='masthead'>
    <div class='row pt-5 mb-5'></div>
    <div class='row pt-5 mb-3'></div>
    <div class="text-center text-white pt-5">
        <img src='assets/Polyhaven_logo.png' class='mx-auto' alt='' width="150" height="150">
        <p class='fs-1'><b>Poly Haven</b></p>
        <p class='fs-6 fw-light'>The Public 3D Asset Library</p>
    </div>
    
</div>
hello to the world

<p></p>
<a href="https://www.polyhaven.com" title="logo">logo sourced from Poly Haven </a>
<p></p>
<a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Freepik - Flaticon</a>
<app-bottomnavbar>loading...</app-bottomnavbar>