<app-topnavbar>loading...</app-topnavbar>
<app-titlesplash>loading...</app-titlesplash>
<app-librarysplash>loading...</app-librarysplash>
<app-fullscene-parallax>loading...</app-fullscene-parallax>
<app-greyscale-parallax>loading...</app-greyscale-parallax>
<p></p>
<a href="https://www.polyhaven.com" title="logo">logo sourced from Poly Haven </a>
<p></p>
<a href="https://www.flaticon.com/free-icons/login" title="login icons">Login icons created by Freepik - Flaticon</a>
<app-bottomnavbar>loading...</app-bottomnavbar>