<div class="d-flex align-items-end flex-column">
    <div class="justify-content-center p-5" >
        <div class='text-center bg-dark text-wrap text-white'>
            <h1>100% Free</h1>
            <p>
                Not just free, but CC0, meaning you can use them for absolutely any purpose <b>without restrictions</b>
            </p>
            <p>
                No paywalls or signup required, simply download what you want and use it immediately without worry.
            </p>
        </div>
    </div>
</div>