<div class="d-flex align-items-end flex-column">
    <div class="justify-content-center p-5" >
        <div class='text-center bg-dark text-wrap text-white'>
            <h1>High Quality</h1>
            <p>
                "Free" and "quality" don't always have to be mutually exclusive.
            </p>
            <p>
                We don't want to pollute the web with more trash, so we focus on creating the best <b>assets that you can actually use.</b>
            </p>
            <p>
                Our target is to create content that will not just hold up to today's standards, but higher future standards, and the potential of future hardware too.
            </p>
        </div>
    </div>
</div>