<nav class='navbar fixed-bottom navbar-expand navbar-dark bg-dark'>
    <div class='container'>
        <div class='nav navbar-center justify-content-center'>
            <div class='navbar navbar-nav'>
                <ul class='list-group mx-5'>
                    <li>
                        <a class='navbar-brand' href=''>
                            <img src="assets/Polyhaven_logo.png" alt="" width='80' height='80'>
                        </a>
                    </li>
                    <li>
                        <a class='navbar-brand fs-3' href=''><span ><b>Poly Haven</b></span></a>
                    </li>
                    <li>
                        <a class='navbar-brand fs-6 fw-light' href=''><span >The Public 3D Asset Library</span></a>
                    </li>
                </ul>
                <ul class='list-group mx-5'>
                    <li>
                        <a class='nav-link' href="#" ><span >Home</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >FAQ</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >About/Contact</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Gallery</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >HDRI World Map</span></a>
                    </li>
                </ul>
                <ul class='list-group mx-5'>
                    <li>
                        <a class='nav-link' href="#" ><span >License</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Privacy</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Finance Reports</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Stats</span></a>
                    </li>
                </ul>
                <ul class='list-group mx-5'>
                    <li>
                        <a class='nav-link' href="#" ><span >Blog</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Contribute</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >API</span></a>
                    </li>
                    <li>
                        <a class='nav-link' href="#" ><span >Source</span></a>
                    </li>
                </ul>
        </div>
            <div class='navbar'>
                <ul class="nav navbar-nav">
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Discord</b></span></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Patreon</b></span></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Facebook</b></span></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Twitter</b></span></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Instagram</b></span></a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#" ><span ><b>Youtube</b></span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>