
.progress-bar{
    border-top-right-radius: 40px !important;
    border-bottom-right-radius: 40px !important;
    -webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
	  box-shadow: none !important;
    background-color:rgb(215,215,215) !important;
}

.progress{
    border-radius: 40px !important;
    background-color: rgb(35,35,35) !important;
    height: 2em;
    
    /* Changes below */
    -webkit-box-shadow: inset 0 0 0 2px rgb(215,215,215)  !important;
	  -moz-box-shadow: inset 0 0 0 2px  rgb(215,215,215) !important;
	  box-shadow: inset 0 0 0 2px  rgb(215,215,215) !important;
    border: none;
    padding: 3px;
    margin-right: 1em;
}
.left-section{
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 0;
    padding-bottom:0px;
    background-color: rgb(35,35,35) !important;
    color: white;

}
.sr-only {
    width: 15em;
}
nav {
    background-color: rgb(35,35,35) !important;
}
.navbar .navbar-expand .navbar-dark .bg-dark {
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 0;
    padding-bottom:0px;
    background-color: rgb(35,35,35) !important;

}
.navbar .navbar-right{
    margin-top:0px;
    margin-bottom:0px;
    padding-top: 0;
    padding-bottom:0px;
    color: white;

}

.login{
    margin-left: 5px;
}