<nav class='navbar'>
    <div class='container-fluid'>
        <div class='left-section'>
            <a class='navbar-brand' href=''>
                <img src="assets/Polyhaven_logo.png" alt="" width='30' height='30'>
            </a>
            <b>Poly Haven</b>
        </div>
        <div class='justify-content-md-end'>
            <button class='btn btn-outline-primary' type='asset'><b>Assets</b></button>
            <button class='btn btn-outline-primary' type='news'><b>News</b></button>
            <button class='btn btn-outline-primary' type='support'><b>Support Us</b></button>
            <button class='btn btn-outline-primary' type='about'><b>About/Contact</b></button>
        </div>
    </div>
</nav>
