<nav class='navbar navbar-expand navbar-dark bg-dark'>
    <div class='container-fluid'>
        <div class='left-section'>
            <a class='navbar-brand' href=''>
                <img src="assets/Polyhaven_logo.png" alt="" width='40' height='40'>
            </a>
            <b>Poly Haven</b>
        </div>
        <ul class="nav navbar-nav">
            
            <li>
                <div class='progress'>
                    <div class="progress-bar" role="progressbar" style='width:100%'>
                        <span class="sr-only">70% towards funding goal</span>
                    </div>
                </div>
            </li>
            <li class='nav-item'>
                <a href="#" ><span >Assets</span></a>
            </li>
            <li class='nav-item'>
                <a href="#" ><span >News</span></a>
            </li>
            <li>
                <a href="#" ><span >Support Us</span></a>
            </li>
            <li>
                <a href="#" ><span >About/Contact</span></a>
            </li>
            <li>
                <a href="#" ><span class="glyphicon glyphicon-log-in"></span></a>
            </li>
        </ul>
        <!---
        <div class='btn-group navbar-right'>
            <div class='progress'>
                <div class="progress-bar" role="progressbar" style='width:100%'>
                    <span class="sr-only">70% towards funding goal</span>
                </div>
            </div>
            <button class='btn btn-outline-secondary' type='asset'><b>Assets</b></button>
            <button class='btn btn-outline-secondary' type='news'><b>News</b></button>
            <button class='btn btn-outline-secondary' type='support'><b>Support Us</b></button>
            <button class='btn btn-outline-secondary' type='about'><b>About/Contact</b></button>
            <button class='btn btn-link' type='news'>
                <img src="assets/enter.png" alt="" width='25' height='25'>
            </button>
            
        </div>
    -->
    </div>
</nav>
